<section class="post">
  <header>
    <h2 class="post-title">I Code Java 2016</h2>
    <p class="post-meta">
      <time datetime="2016-07-24 16:00:00 UTC">Sun, Jul 24 2016 at 4:00pm</time>
    </p>
  </header>

  <div class="post-body">
    <h2>Butterflies with Freakin&#39; Laser Beams</h2>

    <p>I was very honoured to speak at the <a href="http://j-sa.co/">I Code Java 2016</a> conference held at the
      <a href="http://www.focusrooms.co.za/">focus rooms</a> on the 21st and 22nd of July. Unfortunately I wasn&#39;t
      able to record my screen for the talk, but I&#39;ll do a screen cast of the content in the next two weeks. I&#39;ll
      update this post with the link. I switched out the section on where blocks with a fork of the code given at Pavel
      Dabrytski&#39;s <a href="https://www.youtube.com/watch?v=HR8aBqxAUGc">great talk</a> on Ping Pong TDD.</p>

    <h2>Links</h2>

    <p>Here are the links for the talk:</p>

    <ul>
      <li><!--suppress HtmlUnknownTarget -->
        <a href="/talks/icj2016/slides.html">Slides</a></li>
      <li><a href="https://github.com/OryxGazella/expressive-tests-with-groovy-and-spock">Butterfly Game - Flutterby</a>
        Includes the source for the slides
      </li>
      <li><a href="https://github.com/OryxGazella/videostore/">Video Store</a></li>
      <li><a href="https://github.com/OryxGazella/pingpongtdd">Roman Numerals in Groovy</a></li>
    </ul>

    <h2>Further watching and reading</h2>

    <p>My talk was inspired by many sources, here&#39;s a bunch of links that I didn&#39;t have time to punt during my
      talk.</p>

    <h3>Spock</h3>

    <ul>
      <li><a href="https://www.youtube.com/watch?v=GYszXrJtxKA">Testing Java, Groovy, Spring and Web Applications with
        Spock</a></li>
      <li><a href="https://www.youtube.com/watch?v=RuTupC0I59M">Idiomatic Spock with Rob Fletcher</a></li>
      <li><a href="http://docs.spockframework.org/">Official Documentation</a></li>
    </ul>

    <h3>Groovy</h3>

    <ul>
      <li><a href="https://www.manning.com/books/groovy-in-action-second-edition">Groovy in Action, Second Edition</a>
        A Wonderful reference/tutorial for the Groovy language. A must have if you plan to write Groovy on a daily
        basis.
      </li>
      <li><a href="https://www.youtube.com/watch?v=xzc-LoJ0mt0">Advanced Groovy Tips and Tricks</a> Despite the name, it&#39;s
        very accessible to Java developers who know little to nothing about Groovy.
      </li>
    </ul>

    <h3>Groovy DSLs</h3>

    <ul>
      <li><a href="https://www.youtube.com/watch?v=rk9ZR2EkE3g">Groovy DSLs: Beginner to Expert</a></li>
    </ul>

    <h3>Reactive Extensions</h3>

    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=x8mmAu7ZR9Y">Bodil Stokke: Reactive Game Development For The Discerning
          Hipster </a></li>
      <li>
        <a href="https://pragprog.com/book/smreactjs/reactive-programming-with-rxjs">Reactive Programming with RxJS</a>
        While the book is good, the source can be tricky to navigate and does not use consistent versions of RxJS (where
        the API changed). If you do read this book, writing the examples in TypeScript is a must-have.
      </li>
    </ul>

    <h3>Refactoring code</h3>

    <ul>
      <li>
        <a href="http://martinfowler.com/books/refactoring.html">Refactoring - Improving the Design of Existing Code</a>
      </li>
      <li><a href="https://cleancoders.com/episode/clean-code-episode-3/show">Clean Code, Episode 3 - Functions - Uncle
        Bob</a> The Video Store refactoring can be found under the &quot;Extras&quot; section of the episode.
      </li>
    </ul>

  </div>
</section>
