<section class="thick rounded container" id="recent-posts">
<header>
  <h1>Recent entries</h1>
</header>
  <% @posts.each do |post|%>
    <article class="thin rounded container">
      <header>
            <h1><%= post.title %></h1>
            <h4><time datetime="<%= post.created_at.iso8601%>"><%= post.created_at.to_s(:pretty) %></time></h4>
      </header>
          <%= raw(post.rendered_body) %>
    </article>
  <% end %> 
</section>
