@import "compass/css3/border-radius";

#wrap{

  width: 68em;
  margin: 0 auto;
  padding: 0;
}

#logo{
  position: absolute;
  display: block;
  top: 8px;
  left: 24em;
  width: 150px;
  height: 150px;
  background: url('Gazella_Logo.jpg');
  @include border-radius(10px);
}

#main{
  position: relative;
  width: 100%;
  height: 180px;
  h1{
  }
  h2{
    width: 40%;
  }
}

.rounded{
  @include border-radius(10px);
}

.thin{
  border: solid 3px;
}

.thick{
  border: solid 5px;
}

section {
  padding: 10px;
}

.container{
  padding: 10px;
}

