<!DOCTYPE html>
<html>
<head>
  <title>Gazel.la</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="wrap">
    <header id="main">
      <a id="logo" href="#"></a>
      <h1>Frank's Blog</h1>
      <h2>Random musing by Frank Smith</h2>
    </header>
    <%= yield %>
  </div>
</body>
</html>
